body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    background-color: midnightblue;
    padding: 0;
}

#container {
    max-width: 80%;
    margin: auto;
    background-color: #ffffff;
}

nav {
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, transparent, #696969, transparent);
    box-shadow: 0 -10px 5px -5px rgba(0,0,0,0.75);
    opacity: 85%;
}

.nav li {
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav a {
    padding: 15px ;
    display: block;
    color: #000000;
    position: relative;
    text-decoration: none;
}

.nav a:hover, .nav .current a {
    color: blue;
    transition: 1250ms;
}

h1 {
    padding-top: 60px;
    font-size: 350%;
    text-shadow: 2px 2px grey;
}

h2 {
    font-size: x-large;
    padding-top: 30px;
}

h1, h2 {
    color: #000000;
    text-transform: uppercase;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

footer {
    background-color: #000000;
    color: #ffffff;
    background-image: linear-gradient(to right, transparent, #696969, transparent);
    box-shadow: 0 -20px 5px -5px rgba(0,0,0,0.75);
    padding: 5px;
    font-size: small;
    opacity: 85%;
    margin-top: 50px;
}

/** Index */

.inleiding img {
    max-width: 50%;
    padding: 10px;
}

/** form */
form {
    text-align: center;
    font-size: large;
}

form li {
    list-style-type: none;
    margin-bottom: 30px;
    margin-top: 10px;
}

form input {
    display: block;
}
form select {
    display: block;
    width: 52%;
}

textarea {
    display: block;
}

label {
    align-content: center;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
    color: #000000;
    border: 3px solid black;
    font-size: medium;
}

input[type=submit]:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 500ms;

}

input, select, textarea {
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 5px 5px #696969;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/** overzicht */

table {
    width: 95%;
    border-collapse: collapse;
    table-layout:fixed;
    margin-left: auto;
    margin-right: auto;
}

th {
    color: #000000;
}

thead {
    background-color: #ffffff;
    border: 1px solid #000000;
}

td {
    color: black;
    max-width: 150px;
}

tbody {
    border: 1px solid #000000;
}

.licht {
    background-color: cornflowerblue;
}

.donker {
    background-color: royalblue;
}

main li {
    list-style-type: none;
}

/* media */

@media screen and (max-width: 800px) {

    .nav {
        display: flex;
        flex-direction: column;
    }

    .active .navitem {
        display: block;
    }
}